{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset_password.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

{% endblock %}

{% block body %}
<div class="reset-container">
    <h2>Nouveau mot de passe</h2>

    <form method="post">
        <label>Nouveau mot de passe :</label>
        <input type="password" name="password" required>

        <button class="btn-reset">Réinitialiser</button>
    </form>
</div>
{% endblock %}
