framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed: 'doctrine://default?queue_name=failed'

        # NE PAS AJOUTER cette section pour le mode synchrone
        # routing:
        #     Symfony\Component\Mailer\Messenger\SendEmailMessage: async
